In [1]:
import os
import pandas as pd
import numpy as np
import win32api
import time

In [2]:
#checks available drives. important that G: drive appears here.
drives = win32api.GetLogicalDriveStrings()
drives = drives.split('\000')[:-1]
print (drives)

['C:\\', 'G:\\']

In [3]:
#declare full path where the files are saved
cwd = os.path.abspath('G:\\ALL\RETAIL TRADING PODS\SOUTH\Planning\FW21\sales_launch\sl_feedback') 
#declare sheet name. template must have data as the name of the sheet
my_sheet = "SUMMARY"

In [4]:
#checks files inside the folder
files = os.listdir(cwd) 
print(files)

['ITALY FACTORY ASSORTMENT FW21.xlsx', 'Copia de 02_IBERIA_07_VIA MODA_RECTIFICADO.xlsx', 'assortFW21 APPAREL.xlsx', '02_IBERIA_06_PATRIMI_APPAREL - PROPUESTA PATRIMI.xlsx', '02_IBERIA_02_ANGEL BRAVO_APPAREL REVISADO.xlsx', 'LS EDERY FW21 Bordeaux centre.xlsx', 'ASSORTIMENT LSE LA SCOLA TAIEB.xlsx', '04_ITALY_01_PATRIMI_APPAREL - PROPUESTA - PATRIMI.xlsx', '01_FR_11_MELLOUL_APPAREL.xlsx', '02_IBERIA_01_ ADELINA FLORIDO_APPAREL.xlsx', '03_ITALY_01_GAMBARDELLA_APPAREL fw21.xlsx', 'FW21 02_IBERIA_00_GN1_APPAREL.cleaned.xlsx', '01_FR_04_CHICHA _APPAREL.xlsx', '02_IBERIA_05_GNG_APPAREL.xlsx', 'FALL21_02_IBERIA_04_GALCERAN_APPAREL_TOTAL.xlsx', '05_ITALY_01_VADALA_APPAREL.xlsx', 'assortiments.xlsx', 'Copie de FALL 2021 CHEMLA_APPAREL.xlsx', '02_IBERIA_03_CRYSTAL_APPAREL.xlsx', '01_FR_12_QUERE_APPAREL.xlsx', '01_FR_13_SANNA_APPAREL.xlsx', 'APPAREL FW 2021.xlsx', '20201218 assortiment groupe AVRIL.xlsx', '01_FR_09_GOMES_APPAREL.xlsx', 'Copie de 01_FR_06_DIAS_APPAREL.xlsx', '02_ITALY_01_DENIM LION_APPAREL.xlsx', '01_FR_02_BOURBOTTE_APPAREL.xlsx']

In [5]:
#initialize empty df
df = pd.DataFrame()
#initialize empty list to append resutls from below loop.
appended_data = []

In [6]:
#>>>>>>>>>>>>>>>>>>>>>>>>>>>>below loop will run 1-by-1 on all files saved in folder<<<<<<<<<<<<<<<<<<<
for file in files:
    
    #define name of the file >> import to current df
    full_file = cwd + "\\" + file
    df = pd.read_excel(full_file, sheet_name=my_sheet, ignore_index=True)
    
    #>>>>>>>>>>>>Next section cleans data (unwanted rows and columns)
    #drop all columns from sections we dont care about (eg. d, e,f, etc.)
    #df=df.drop(df.filter(like='d',axis=1).columns,axis=1)
    #df=df.drop(df.filter(like='e',axis=1).columns,axis=1)
    #df=df.drop(df.filter(like='f',axis=1).columns,axis=1)
    #df=df.drop(df.filter(like='g',axis=1).columns,axis=1)
    #df=df.drop(df.filter(like='h',axis=1).columns,axis=1)
    #df=df.drop(df.filter(like='x',axis=1).columns,axis=1)
     
    #renames first column called 'a' to pc9.
    #df.rename(columns={'a': 'pc9'}, inplace=True)
    #other columns a1, a2, etc. had been created. this deletes all those unwanted columns
    #df = df[df.columns.drop(list(df.filter(regex='a')))]
    #this deletes of all rows where pc9 is NA.
    df = df[df[5].notna()]
    
    #at this stage, the df has generic column names, eg. 0, 1, 2, etc.
    #Below renames columns of dataframe to first row (which contains titles in the excel)
    #df.columns = df.iloc[1]
    #This gets rid of first row (ie. title rows from excel), so only data remains in df
    #df = df[2:]
    #renames column material to pc9. just to make code easier.
    #df.rename(columns={'Material code': 'pc9'}, inplace=True)
    
    
    #>>>>>>>>>>>>>>this 1 line of magic unpivots the data :). amazing.
    #df = df.melt(id_vars=['pc9'],var_name='key', value_name='selected')
    
    
    #>>>>> Next section creates mini dataframe 'new', to split key into separate columns (shipto and measure)
    # new data frame with split value columns 
    #new = df["key"].str.split("|", n = 1, expand = True) 
    # making separate first name column from new data frame 
    #df["ship_to"]= new[0] 
    # making separate last name column from new data frame 
    #df["measure"]= new[1] 
    ##Add file name to df
    df["source_file"] = file
    # Dropping old Name columns 
    #df.drop(columns =["key"], inplace = True) 
    
    #>>>>>>>> next section appends current df into the list. it will stack one file after another.
    appended_data.append(df)
    
    #>>>>>>>End of loop. It will repeat for every file in our folder.

In [7]:
#>>>>>>>> this converts list into a data frame with the same name. list ceases to exist.
appended_data = pd.concat(appended_data)

In [8]:
appended_data

,1,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,28.1,28.2,28.3,Unnamed: 31,source_file
3,p4,Index,Code,Metric,Store_name,key1,MT,MB,WT,WB,...,key1,MT,MB,WT,WB,Men total,Women Total,TOTAL,Changes (%),ITALY FACTORY ASSORTMENT FW21.xlsx
4,p5,1,10057504,OPTIONS,LS AOSTA,10057504|OPTIONS_PROPOSAL,99,67,90,66,...,10057504|CHANGE_COUNT,30,15,5,6,45,11,56,0.173913,ITALY FACTORY ASSORTMENT FW21.xlsx
5,p6,2,10053982,OPTIONS,LS ARESE,10053982|OPTIONS_PROPOSAL,120,81,90,66,...,10053982|CHANGE_COUNT,24,9,8,9,33,17,50,0.140056,ITALY FACTORY ASSORTMENT FW21.xlsx
6,p7,3,10057217,OPTIONS,LS ASSAGO MILANOFIORI,10057217|OPTIONS_PROPOSAL,99,67,90,66,...,10057217|CHANGE_COUNT,28,15,5,6,43,11,54,0.167702,ITALY FACTORY ASSORTMENT FW21.xlsx
7,p8,4,10056631,OPTIONS,LS BIELLA GLI ORSI,10056631|OPTIONS_PROPOSAL,99,67,90,66,...,10056631|CHANGE_COUNT,34,18,4,8,52,12,64,0.198758,ITALY FACTORY ASSORTMENT FW21.xlsx
8,p9,5,10054432,OPTIONS,LS BRESCIA RONCADELLE,10054432|OPTIONS_PROPOSAL,99,67,90,66,...,10054432|CHANGE_COUNT,29,16,6,8,45,14,59,0.18323,ITALY FACTORY ASSORTMENT FW21.xlsx
9,p10,6,10056632,OPTIONS,LS CARUGATE CAROSELLO,10056632|OPTIONS_PROPOSAL,99,67,90,66,...,10056632|CHANGE_COUNT,29,16,6,6,45,12,57,0.177019,ITALY FACTORY ASSORTMENT FW21.xlsx
10,p11,7,10053911,OPTIONS,LS FIORDALISO,10053911|OPTIONS_PROPOSAL,99,67,90,66,...,10053911|CHANGE_COUNT,28,15,5,6,43,11,54,0.167702,ITALY FACTORY ASSORTMENT FW21.xlsx
11,p12,8,LS GENOVA (LIGURIA),OPTIONS,LS GENOVA (LIGURIA),LS GENOVA (LIGURIA)|OPTIONS_PROPOSAL,99,67,90,66,...,LS GENOVA (LIGURIA)|CHANGE_COUNT,29,15,5,6,44,11,55,0.170807,ITALY FACTORY ASSORTMENT FW21.xlsx
12,p13,9,TBC-LS La Spezia Le Terrazze,OPTIONS,LS LA SPEZIA LE TERRAZZE,TBC-LS La Spezia Le Terrazze|OPTIONS_PROPOSAL,99,67,90,66,...,TBC-LS La Spezia Le Terrazze|CHANGE_COUNT,29,15,5,6,44,11,55,0.170807,ITALY FACTORY ASSORTMENT FW21.xlsx
13,p14,10,10057218,OPTIONS,LS LEONE LONATO,10057218|OPTIONS_PROPOSAL,99,67,90,66,...,10057218|CHANGE_COUNT,29,15,5,6,44,11,55,0.170807,ITALY FACTORY ASSORTMENT FW21.xlsx
14,p15,11,10055713,OPTIONS,LS MILANO CITY LIFE,10055713|OPTIONS_PROPOSAL,99,67,90,66,...,10055713|CHANGE_COUNT,33,16,7,8,49,15,64,0.198758,ITALY FACTORY ASSORTMENT FW21.xlsx
15,p16,12,10053593,OPTIONS,LS MILANO CORSO VERCELLI,10053593|OPTIONS_PROPOSAL,99,67,90,66,...,10053593|CHANGE_COUNT,31,18,6,9,49,15,64,0.198758,ITALY FACTORY ASSORTMENT FW21.xlsx
16,p17,13,10053636,OPTIONS,LS MILANO GLOBO,10053636|OPTIONS_PROPOSAL,99,67,90,66,...,10053636|CHANGE_COUNT,32,19,4,8,51,12,63,0.195652,ITALY FACTORY ASSORTMENT FW21.xlsx
17,p18,14,10053591,OPTIONS,LS MILANO SESTO VULCANO,10053591|OPTIONS_PROPOSAL,99,67,90,66,...,10053591|CHANGE_COUNT,28,15,5,8,43,13,56,0.173913,ITALY FACTORY ASSORTMENT FW21.xlsx
18,p19,15,10054080,OPTIONS,LS ORIO,10054080|OPTIONS_PROPOSAL,120,81,90,66,...,10054080|CHANGE_COUNT,19,8,7,9,27,16,43,0.120448,ITALY FACTORY ASSORTMENT FW21.xlsx
19,p20,16,LS TORINO,OPTIONS,LS TORINO,LS TORINO|OPTIONS_PROPOSAL,99,67,90,66,...,LS TORINO|CHANGE_COUNT,28,15,5,6,43,11,54,0.167702,ITALY FACTORY ASSORTMENT FW21.xlsx
20,p21,17,10056633,OPTIONS,TORINO LE GRU,10056633|OPTIONS_PROPOSAL,99,67,90,66,...,10056633|CHANGE_COUNT,29,15,6,9,44,15,59,0.18323,ITALY FACTORY ASSORTMENT FW21.xlsx
114,p115,.,NaN,OPTIONS,TOTAL,NaN,1725,1167,1530,1122,...,NaN,489,255,94,124,744,218,962,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
119,p120,.,NaN,Metric,Store_name,NaN,MT,MB,WT,WB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
120,p121,1,10057504,IA UNITS,LS AOSTA,10057504|UNITS_PROPOSAL,670,759,592,817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
121,p122,2,10053982,IA UNITS,LS ARESE,10053982|UNITS_PROPOSAL,888,1067,592,817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
122,p123,3,10057217,IA UNITS,LS ASSAGO MILANOFIORI,10057217|UNITS_PROPOSAL,660,759,592,817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
123,p124,4,10056631,IA UNITS,LS BIELLA GLI ORSI,10056631|UNITS_PROPOSAL,509,520,462,568,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
124,p125,5,10054432,IA UNITS,LS BRESCIA RONCADELLE,10054432|UNITS_PROPOSAL,670,783,592,817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
125,p126,6,10056632,IA UNITS,LS CARUGATE CAROSELLO,10056632|UNITS_PROPOSAL,509,520,462,568,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
126,p127,7,10053911,IA UNITS,LS FIORDALISO,10053911|UNITS_PROPOSAL,670,759,592,817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
127,p128,8,LS GENOVA (LIGURIA),IA UNITS,LS GENOVA (LIGURIA),LS GENOVA (LIGURIA)|UNITS_PROPOSAL,849,1200,646,1309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
128,p129,9,TBC-LS La Spezia Le Terrazze,IA UNITS,LS LA SPEZIA LE TERRAZZE,TBC-LS La Spezia Le Terrazze|UNITS_PROPOSAL,509,520,462,568,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
129,p130,10,10057218,IA UNITS,LS LEONE LONATO,10057218|UNITS_PROPOSAL,509,520,462,568,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ITALY FACTORY ASSORTMENT FW21.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,p13,9,20053669,OPTIONS,EURALILLE,20053669|OPTIONS_PROPOSAL,99,67,63,52,...,20053669|CHANGE_COUNT,12,15,5,9,27,14,41,0.145907,01_FR_02_BOURBOTTE_APPAREL.xlsx
13,p14,10,20055131,OPTIONS,NEW COQUELLES,20055131|OPTIONS_PROPOSAL,99,67,63,52,...,20055131|CHANGE_COUNT,11,14,6,11,25,17,42,0.149466,01_FR_02_BOURBOTTE_APPAREL.xlsx
14,p15,11,20058510,OPTIONS,LS LUXEMBOURG CLOCHE D’OR,20058510|OPTIONS_PROPOSAL,99,67,63,52,...,20058510|CHANGE_COUNT,11,15,6,11,26,17,43,0.153025,01_FR_02_BOURBOTTE_APPAREL.xlsx
15,p16,12,20060504,OPTIONS,LS LILLENIUM,20060504|OPTIONS_PROPOSAL,70,54,63,52,...,20060504|CHANGE_COUNT,13,12,2,11,25,13,38,0.158996,01_FR_02_BOURBOTTE_APPAREL.xlsx
16,p17,13,LS Nimes Cap Costières,OPTIONS,LS NIMES CAP COSTIÈRES,LS Nimes Cap Costières|OPTIONS_PROPOSAL,99,67,90,66,...,LS Nimes Cap Costières|CHANGE_COUNT,11,13,5,4,24,9,33,0.102484,01_FR_02_BOURBOTTE_APPAREL.xlsx
114,p115,.,TOTAL,OPTIONS,TOTAL,NaN,924,645,711,562,...,NaN,118,137,52,101,255,153,408,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
119,p120,.,Code,Metric,Store_name,NaN,MT,MB,WT,WB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
123,p124,4,10052673,IA UNITS,SWELL LUXEMBOURG LEVI'S STORE LUXEMBOURG,10052673|UNITS_PROPOSAL,396,486,332,532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
124,p125,5,20053322,IA UNITS,LILLE,20053322|UNITS_PROPOSAL,479,613,300,516,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
125,p126,6,20053323,IA UNITS,VILLENEUVE D'ASCQ,20053323|UNITS_PROPOSAL,245,349,213,377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
126,p127,7,20053324,IA UNITS,ENGLOS,20053324|UNITS_PROPOSAL,245,349,213,377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
127,p128,8,20053325,IA UNITS,NOYELLES GODAULT,20053325|UNITS_PROPOSAL,379,474,213,377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
128,p129,9,20053669,IA UNITS,EURALILLE,20053669|UNITS_PROPOSAL,385,499,213,377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
129,p130,10,20055131,IA UNITS,NEW COQUELLES,20055131|UNITS_PROPOSAL,385,499,213,377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
130,p131,11,20058510,IA UNITS,LS LUXEMBOURG CLOCHE D’OR,20058510|UNITS_PROPOSAL,396,486,213,377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
131,p132,12,20060504,IA UNITS,LS LILLENIUM,20060504|UNITS_PROPOSAL,245,349,213,377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
132,p133,13,LS Nimes Cap Costières,IA UNITS,LS NIMES CAP COSTIÈRES,LS Nimes Cap Costières|UNITS_PROPOSAL,558,1086,413,1195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
230,p231,.,TOTAL,IA UNITS,TOTAL,NaN,3713,5190,2536,4882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
235,p236,.,Code,Metric,Store_name,NaN,MT,MB,WT,WB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
239,p240,4,10052673,IA VALUE,SWELL LUXEMBOURG LEVI'S STORE LUXEMBOURG,10052673|VALUE_PROPOSAL,9738.25,20151.2,10617.5,25237,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
240,p241,5,20053322,IA VALUE,LILLE,20053322|VALUE_PROPOSAL,12781.7,26283.1,9940.65,24367.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
241,p242,6,20053323,IA VALUE,VILLENEUVE D'ASCQ,20053323|VALUE_PROPOSAL,6035,14471.9,7105.25,18464.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
242,p243,7,20053324,IA VALUE,ENGLOS,20053324|VALUE_PROPOSAL,6035,14471.9,7105.25,18464.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
243,p244,8,20053325,IA VALUE,NOYELLES GODAULT,20053325|VALUE_PROPOSAL,9444,19934.7,7105.25,18464.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
244,p245,9,20053669,IA VALUE,EURALILLE,20053669|VALUE_PROPOSAL,9507.9,20815.2,7105.25,18464.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
245,p246,10,20055131,IA VALUE,NEW COQUELLES,20055131|VALUE_PROPOSAL,9507.9,20815.2,7105.25,18464.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
246,p247,11,20058510,IA VALUE,LS LUXEMBOURG CLOCHE D’OR,20058510|VALUE_PROPOSAL,9738.25,20151.2,7105.25,18464.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
247,p248,12,20060504,IA VALUE,LS LILLENIUM,20060504|VALUE_PROPOSAL,6035,14471.9,7105.25,18464.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
248,p249,13,LS Nimes Cap Costières,IA VALUE,LS NIMES CAP COSTIÈRES,LS Nimes Cap Costières|VALUE_PROPOSAL,13896.3,46107.3,12766.2,55227.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx
346,p347,.,TOTAL,IA VALUE,TOTAL,NaN,92719.3,217674,83061.1,234083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01_FR_02_BOURBOTTE_APPAREL.xlsx

In [9]:
timestr = time.strftime("%Y%m%d-%H%M%S")
file_name = "sl_summary_"+timestr+".xlsx"
print (file_name)

sl_summary_20201221-180633.xlsx

In [10]:
appended_data.to_excel(file_name)